@use '../../styles/vars';

.main-board {
    width: 50%;

  &-cellContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: vars.$darkColor;
    border: 0.3rem solid vars.$darkColor;
    border-radius: 0.4rem;
    margin-top: 1rem;
  }

  &-cell {
    width: 33.33%;
    background-color: vars.$baseColor;
    border: 0.2rem solid vars.$darkColor;
    color: #fff;
    font-size: 10vw;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    
    &.backgroundColorX {
      background-color: vars.$reddish;
    }

    &.backgroundColorO {
      background-color: vars.$lightColor;
    }
  }
}