.main-board {
    width: 50%;
    font-size: 5vw;
    text-align: center;
    color: #085992;

  &-cellContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #085992;
    border: 0.3rem solid #085992;
    border-radius: 0.4rem;
    margin-top: 1rem;
  }

  &-cell {
    width: 33.33%;
    background-color: #0a8ae6;
    border: 0.2rem solid #085992;
    color: #fff;
    font-size: 10vw;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    
    &.backgroundColor {
      background-color: #e60a7f;
    }
  }
}