@use '../../styles/vars';

.App {
    &-header-title {
        font-size: 5vw;
        text-align: center;
        color: vars.$darkColor;
    }   
    &-main {
        position: relative;

        &-infoSection {
            position: absolute;
            margin-left: 3rem;
        }
        &-message {
            font-size: 4vw;
            color: vars.$darkColor;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-boardSection {
            max-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}