@use '../../styles/vars';

.App {

    &-header-title {
        font-size: 4rem;
        text-align: center;
        color: vars.$darkColor;

    }
    &-main {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}